# First Pass through Data

### By Ishan Sharma

I have multiple datasets to deal with. Here I shall make my first pass through them.

In [2]:
import pandas as pd

### Annual

##### United States

In [4]:
unitedstates_df = pd.read_csv('../data/capstone_project/Annual/IHME_USA_COUNTY_CANCER_MORTALITY_RATES_1980_2014_UNITED STATES_Y2017M01D24.CSV')
unitedstates_df.head()

,location_id,location_name,FIPS,cause_id,cause_name,sex_id,sex,year_id,mx,upper,lower
0,102,United States,NaN,410,Neoplasms,1,Male,1980,318.333996,328.183616,308.775682
1,102,United States,NaN,410,Neoplasms,1,Male,1981,314.284167,324.036380,304.458500
2,102,United States,NaN,410,Neoplasms,1,Male,1982,309.425610,319.156756,299.571458
3,102,United States,NaN,410,Neoplasms,1,Male,1983,309.215150,318.654288,299.092373
4,102,United States,NaN,410,Neoplasms,1,Male,1984,309.424437,318.666942,299.360269

In [7]:
unitedstates_df.__len__()

3395

In [6]:
unitedstates_df.isna().sum()

location_id         0
location_name       0
FIPS             3395
cause_id            0
cause_name          0
sex_id              0
sex                 0
year_id             0
mx                  0
upper               0
lower               0
dtype: int64

Clearly, there are no FIPS entries in the data; otherwise, the data is all good here. Considering FIPS deals with the way the data was collected, I will simply remove this column from this set.

In [8]:
unitedstates_df.drop('FIPS', axis=1)

,location_id,location_name,cause_id,cause_name,sex_id,sex,year_id,mx,upper,lower
0,102,United States,410,Neoplasms,1,Male,1980,318.333996,328.183616,308.775682
1,102,United States,410,Neoplasms,1,Male,1981,314.284167,324.036380,304.458500
2,102,United States,410,Neoplasms,1,Male,1982,309.425610,319.156756,299.571458
3,102,United States,410,Neoplasms,1,Male,1983,309.215150,318.654288,299.092373
4,102,United States,410,Neoplasms,1,Male,1984,309.424437,318.666942,299.360269
...,...,...,...,...,...,...,...,...,...,...
3390,102,United States,488,Other neoplasms,3,Both,2010,5.788080,5.991893,5.335167
3391,102,United States,488,Other neoplasms,3,Both,2011,5.820354,6.033643,5.365752
3392,102,United States,488,Other neoplasms,3,Both,2012,5.846857,6.073914,5.372156
3393,102,United States,488,Other neoplasms,3,Both,2013,5.808207,6.060049,5.343999
3394,102,United States,488,Other neoplasms,3,Both,2014,5.859176,6.142431,5.365000

In [9]:
unitedstates_df.head()

,location_id,location_name,FIPS,cause_id,cause_name,sex_id,sex,year_id,mx,upper,lower
0,102,United States,NaN,410,Neoplasms,1,Male,1980,318.333996,328.183616,308.775682
1,102,United States,NaN,410,Neoplasms,1,Male,1981,314.284167,324.036380,304.458500
2,102,United States,NaN,410,Neoplasms,1,Male,1982,309.425610,319.156756,299.571458
3,102,United States,NaN,410,Neoplasms,1,Male,1983,309.215150,318.654288,299.092373
4,102,United States,NaN,410,Neoplasms,1,Male,1984,309.424437,318.666942,299.360269

##### Tennessee

In [10]:
tennessee_df = pd.read_csv('../data/capstone_project/Annual/IHME_USA_COUNTY_CANCER_MORTALITY_RATES_1980_2014_TENNESSEE_Y2017M01D24.CSV')
tennessee_df.head()

,location_id,location_name,FIPS,cause_id,cause_name,sex_id,sex,year_id,mx,upper,lower
0,565,Tennessee,47,410,Neoplasms,1,Male,1980,331.025713,341.057304,320.502694
1,565,Tennessee,47,410,Neoplasms,1,Male,1981,329.920340,339.643000,319.486180
2,565,Tennessee,47,410,Neoplasms,1,Male,1982,324.164785,333.492908,314.193459
3,565,Tennessee,47,410,Neoplasms,1,Male,1983,324.899508,334.284972,314.336059
4,565,Tennessee,47,410,Neoplasms,1,Male,1984,329.391648,338.437225,318.803173

In [11]:
tennessee_df.__len__()

325920

In [12]:
tennessee_df.isna().sum()

location_id      0
location_name    0
FIPS             0
cause_id         0
cause_name       0
sex_id           0
sex              0
year_id          0
mx               0
upper            0
lower            0
dtype: int64

This looks good.

##### Texas

In [13]:
texas_df = pd.read_csv('../data/capstone_project/Annual/IHME_USA_COUNTY_CANCER_MORTALITY_RATES_1980_2014_TEXAS_Y2017M01D24.CSV')
texas_df.head()

,location_id,location_name,FIPS,cause_id,cause_name,sex_id,sex,year_id,mx,upper,lower
0,566,Texas,48,410,Neoplasms,1,Male,1980,318.159502,327.372869,308.284768
1,566,Texas,48,410,Neoplasms,1,Male,1981,315.522092,324.239808,305.787637
2,566,Texas,48,410,Neoplasms,1,Male,1982,309.331176,319.046524,299.435978
3,566,Texas,48,410,Neoplasms,1,Male,1983,310.682885,319.654003,300.018992
4,566,Texas,48,410,Neoplasms,1,Male,1984,308.420976,317.118338,298.320258

In [14]:
texas_df.__len__()

865725

In [15]:
texas_df.isna().sum()

location_id      0
location_name    0
FIPS             0
cause_id         0
cause_name       0
sex_id           0
sex              0
year_id          0
mx               0
upper            0
lower            0
dtype: int64

This looks good.

##### Utah

In [16]:
utah_df = pd.read_csv('../data/capstone_project/Annual/IHME_USA_COUNTY_CANCER_MORTALITY_RATES_1980_2014_UTAH_Y2017M01D24.CSV')
utah_df.head()

,location_id,location_name,FIPS,cause_id,cause_name,sex_id,sex,year_id,mx,upper,lower
0,567,Utah,49,410,Neoplasms,1,Male,1980,213.088909,221.126822,204.974041
1,567,Utah,49,410,Neoplasms,1,Male,1981,213.252452,220.953850,204.544529
2,567,Utah,49,410,Neoplasms,1,Male,1982,209.451966,217.784810,201.290316
3,567,Utah,49,410,Neoplasms,1,Male,1983,208.677188,216.881945,200.833743
4,567,Utah,49,410,Neoplasms,1,Male,1984,212.781910,219.937319,204.150372

In [17]:
utah_df.__len__()

101850

In [18]:
utah_df.isna().sum()

location_id      0
location_name    0
FIPS             0
cause_id         0
cause_name       0
sex_id           0
sex              0
year_id          0
mx               0
upper            0
lower            0
dtype: int64

This looks good.

##### Vermont

In [19]:
vermont_df = pd.read_csv('../data/capstone_project/Annual/IHME_USA_COUNTY_CANCER_MORTALITY_RATES_1980_2014_VERMONT_Y2017M01D24.CSV')
vermont_df.head()

,location_id,location_name,FIPS,cause_id,cause_name,sex_id,sex,year_id,mx,upper,lower
0,568,Vermont,50,410,Neoplasms,1,Male,1980,316.165153,328.279418,304.936546
1,568,Vermont,50,410,Neoplasms,1,Male,1981,310.053378,321.318060,298.990402
2,568,Vermont,50,410,Neoplasms,1,Male,1982,306.020979,317.151247,294.316255
3,568,Vermont,50,410,Neoplasms,1,Male,1983,306.351468,316.554333,295.216784
4,568,Vermont,50,410,Neoplasms,1,Male,1984,305.757916,316.191111,294.472572

In [20]:
vermont_df.__len__()

50925

In [21]:
vermont_df.isna().sum()

location_id      0
location_name    0
FIPS             0
cause_id         0
cause_name       0
sex_id           0
sex              0
year_id          0
mx               0
upper            0
lower            0
dtype: int64

This looks good.

##### Virginia

In [22]:
virginia_df = pd.read_csv('../data/capstone_project/Annual/IHME_USA_COUNTY_CANCER_MORTALITY_RATES_1980_2014_VIRGINIA_Y2017M01D24.CSV')
virginia_df.head()

,location_id,location_name,FIPS,cause_id,cause_name,sex_id,sex,year_id,mx,upper,lower
0,569,Virginia,51,410,Neoplasms,1,Male,1980,350.195099,360.363342,339.694574
1,569,Virginia,51,410,Neoplasms,1,Male,1981,345.062027,355.152349,334.406006
2,569,Virginia,51,410,Neoplasms,1,Male,1982,339.262743,349.435826,328.642866
3,569,Virginia,51,410,Neoplasms,1,Male,1983,339.726764,349.269029,327.836997
4,569,Virginia,51,410,Neoplasms,1,Male,1984,338.415228,347.870707,327.190771

In [23]:
virginia_df.__len__()

454930

In [24]:
virginia_df.isna().sum()

location_id      0
location_name    0
FIPS             0
cause_id         0
cause_name       0
sex_id           0
sex              0
year_id          0
mx               0
upper            0
lower            0
dtype: int64

This looks good.

##### Washington

In [25]:
washington_df = pd.read_csv('../data/capstone_project/Annual/IHME_USA_COUNTY_CANCER_MORTALITY_RATES_1980_2014_WASHINGTON_Y2017M01D24.CSV')
washington_df.head()

,location_id,location_name,FIPS,cause_id,cause_name,sex_id,sex,year_id,mx,upper,lower
0,570,Washington,53,410,Neoplasms,1,Male,1980,280.600527,289.840074,270.625480
1,570,Washington,53,410,Neoplasms,1,Male,1981,276.201707,284.490426,267.067801
2,570,Washington,53,410,Neoplasms,1,Male,1982,271.849480,280.607870,262.601901
3,570,Washington,53,410,Neoplasms,1,Male,1983,271.425290,279.699570,261.608704
4,570,Washington,53,410,Neoplasms,1,Male,1984,273.880793,282.024524,263.921709

In [26]:
washington_df.__len__()

135800

In [27]:
washington_df.isna().sum()

location_id      0
location_name    0
FIPS             0
cause_id         0
cause_name       0
sex_id           0
sex              0
year_id          0
mx               0
upper            0
lower            0
dtype: int64

This looks good.

##### West Virginia

In [28]:
west_virginia_df = pd.read_csv('../data/capstone_project/Annual/IHME_USA_COUNTY_CANCER_MORTALITY_RATES_1980_2014_WEST VIRGINIA_Y2017M01D24.CSV')
west_virginia_df.head()

,location_id,location_name,FIPS,cause_id,cause_name,sex_id,sex,year_id,mx,upper,lower
0,571,West Virginia,54,410,Neoplasms,1,Male,1980,320.727640,330.291490,311.075085
1,571,West Virginia,54,410,Neoplasms,1,Male,1981,318.982105,329.147414,308.995161
2,571,West Virginia,54,410,Neoplasms,1,Male,1982,315.602362,325.348796,305.704149
3,571,West Virginia,54,410,Neoplasms,1,Male,1983,319.215732,328.573119,308.998223
4,571,West Virginia,54,410,Neoplasms,1,Male,1984,319.887857,329.210286,308.881689

In [29]:
west_virginia_df.__len__()

190120

In [30]:
west_virginia_df.isna().sum()

location_id      0
location_name    0
FIPS             0
cause_id         0
cause_name       0
sex_id           0
sex              0
year_id          0
mx               0
upper            0
lower            0
dtype: int64

Looks good.

##### Wisconsin

In [31]:
wisconsin_df = pd.read_csv('../data/capstone_project/Annual/IHME_USA_COUNTY_CANCER_MORTALITY_RATES_1980_2014_WISCONSIN_Y2017M01D24.CSV')
wisconsin_df.head()

,location_id,location_name,FIPS,cause_id,cause_name,sex_id,sex,year_id,mx,upper,lower
0,572,Wisconsin,55,410,Neoplasms,1,Male,1980,287.173771,296.148606,277.720453
1,572,Wisconsin,55,410,Neoplasms,1,Male,1981,285.125436,294.240131,275.559985
2,572,Wisconsin,55,410,Neoplasms,1,Male,1982,280.631710,289.048131,271.065354
3,572,Wisconsin,55,410,Neoplasms,1,Male,1983,281.600999,290.581133,271.577059
4,572,Wisconsin,55,410,Neoplasms,1,Male,1984,284.001072,292.836543,274.414092

In [32]:
wisconsin_df.__len__()

247835

In [33]:
wisconsin_df.isna().sum()

location_id      0
location_name    0
FIPS             0
cause_id         0
cause_name       0
sex_id           0
sex              0
year_id          0
mx               0
upper            0
lower            0
dtype: int64

Looks good.

##### Wyoming

In [34]:
wyoming_df = pd.read_csv('../data/capstone_project/Annual/IHME_USA_COUNTY_CANCER_MORTALITY_RATES_1980_2014_WYOMING_Y2017M01D24.CSV')
wyoming_df.head()

,location_id,location_name,FIPS,cause_id,cause_name,sex_id,sex,year_id,mx,upper,lower
0,573,Wyoming,56,410,Neoplasms,1,Male,1980,271.435213,281.635738,261.450477
1,573,Wyoming,56,410,Neoplasms,1,Male,1981,268.741322,278.297900,259.003241
2,573,Wyoming,56,410,Neoplasms,1,Male,1982,264.391125,274.116418,253.755426
3,573,Wyoming,56,410,Neoplasms,1,Male,1983,265.205721,274.581943,254.836804
4,573,Wyoming,56,410,Neoplasms,1,Male,1984,264.527153,274.116974,253.859312

In [35]:
wyoming_df.__len__()

81480

In [36]:
wyoming_df.isna().sum()

location_id      0
location_name    0
FIPS             0
cause_id         0
cause_name       0
sex_id           0
sex              0
year_id          0
mx               0
upper            0
lower            0
dtype: int64

Looks good.

### linking_ids

In [45]:
linking_df = pd.read_csv('../data/capstone_project/linking_ids/IHME_USA_COUNTY_CANCER_MORTALITY_RATES_1980_2014_CODEBOOK_Y2017M01D24.CSV').iloc[1:, 1:]
linking_df.head()

,location_id,location_name,FIPS,cause_id,cause_name,sex_id,sex,year_id,mx,upper,lower
1,102,United States,NaN,410,Neoplasms,1,Male,1980,NaN,NaN,NaN
2,523,Alabama,1,444,Lip and oral cavity cancer,2,Female,1981,NaN,NaN,NaN
3,524,Alaska,2,447,Nasopharynx cancer,3,Both,1982,NaN,NaN,NaN
4,525,Arizona,4,450,Other pharynx cancer,NaN,NaN,1983,NaN,NaN,NaN
5,526,Arkansas,5,411,Esophageal cancer,NaN,NaN,1984,NaN,NaN,NaN

In [48]:
linking_df.__len__()

3194

In [46]:
linking_df.isna().sum()

location_id         0
location_name       0
FIPS                1
cause_id         3160
cause_name       3160
sex_id           3191
sex              3191
year_id          3159
mx               3194
upper            3194
lower            3194
dtype: int64

This not being an actual data csv, it's not complete as one would expect. I shall have to leave it as is, and be creative when it comes to using this to link tables together. But I can drop upper and lower because they are useless.

In [49]:
unitedstates_df.drop(['upper', 'lower'], axis=1)

,location_id,location_name,FIPS,cause_id,cause_name,sex_id,sex,year_id,mx
0,102,United States,NaN,410,Neoplasms,1,Male,1980,318.333996
1,102,United States,NaN,410,Neoplasms,1,Male,1981,314.284167
2,102,United States,NaN,410,Neoplasms,1,Male,1982,309.425610
3,102,United States,NaN,410,Neoplasms,1,Male,1983,309.215150
4,102,United States,NaN,410,Neoplasms,1,Male,1984,309.424437
...,...,...,...,...,...,...,...,...,...
3390,102,United States,NaN,488,Other neoplasms,3,Both,2010,5.788080
3391,102,United States,NaN,488,Other neoplasms,3,Both,2011,5.820354
3392,102,United States,NaN,488,Other neoplasms,3,Both,2012,5.846857
3393,102,United States,NaN,488,Other neoplasms,3,Both,2013,5.808207
3394,102,United States,NaN,488,Other neoplasms,3,Both,2014,5.859176

### national

In [63]:
national_dfs = pd.read_excel('../data/capstone_project/national/IHME_USA_COUNTY_CANCER_MORTALITY_RATES_1980_2014_NATIONAL_Y2017M01D24.XLSX', skiprows=1, sheet_name=None)

In [65]:
for key in national_dfs.keys():
    sheet = national_dfs[key]
    print(key)
    print(sheet.__len__())
    print(sheet.isna().sum())
    print()
    print()

Neoplasms
3196
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Lip & oral cavity cancer
3196
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Nasopharynx cancer
3196
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Other pharynx cancer
3196
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Esophageal cancer
3196
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Stomach cancer
3196
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Colon & rectum cancer
3196
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Liver cancer
3196
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Gallbladder & biliary tract
3196
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Pancreatic cancer
3196
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Larynx cancer
3196
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Tracheal, bronchus, & lung
3196
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Malignant skin melanoma
3196
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Non-melanoma skin cancer
3196
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Breast cancer
3196
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Cervical cancer
3196
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Uterine cancer
3196
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Ovarian cancer
3196
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Prostate cancer
3196
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Testicular cancer
3196
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Kidney cancer
3196
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Bladder cancer
3196
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Brain & nervous system cancer
3196
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Thyroid cancer
3196
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Mesothelioma
3196
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Hodgkin lymphoma
3196
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Non-Hodgkin lymphoma
3196
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Multiple myeloma
3196
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Leukemia
3196
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Acute lymphoid leukemia
3196
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Chronic lymphoid leukemia
3196
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Acute myeloid leukemia
3196
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Chronic myeloid leukemia
3196
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Other neoplasms
3196
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64

There are very low - and the same - number of empty lines. Some further investigation is needed.

In [66]:
for key in national_dfs.keys():
    sheet = national_dfs[key]
    print(key)
    print(sheet[sheet['Mortality Rate, 1980*'].isna()])
    print(sheet.isna().sum())
    print()
    print()

Neoplasms
                                               Location  FIPS  \
3194                                                NaN   NaN
3195  *Age-standardized mortality rate for both sexe...   NaN

     Mortality Rate, 1980* Mortality Rate, 1985* Mortality Rate, 1990*  \
3194                   NaN                   NaN                   NaN
3195                   NaN                   NaN                   NaN

     Mortality Rate, 1995* Mortality Rate, 2000* Mortality Rate, 2005*  \
3194                   NaN                   NaN                   NaN
3195                   NaN                   NaN                   NaN

     Mortality Rate, 2010* Mortality Rate, 2014*  \
3194                   NaN                   NaN
3195                   NaN                   NaN

     % Change in Mortality Rate, 1980-2014
3194                                   NaN
3195                                   NaN
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Lip & oral cavity cancer
                                               Location  FIPS  \
3194                                                NaN   NaN
3195  *Age-standardized mortality rate for both sexe...   NaN

     Mortality Rate, 1980* Mortality Rate, 1985* Mortality Rate, 1990*  \
3194                   NaN                   NaN                   NaN
3195                   NaN                   NaN                   NaN

     Mortality Rate, 1995* Mortality Rate, 2000* Mortality Rate, 2005*  \
3194                   NaN                   NaN                   NaN
3195                   NaN                   NaN                   NaN

     Mortality Rate, 2010* Mortality Rate, 2014*  \
3194                   NaN                   NaN
3195                   NaN                   NaN

     % Change in Mortality Rate, 1980-2014
3194                                   NaN
3195                                   NaN
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Nasopharynx cancer
                                               Location  FIPS  \
3194                                                NaN   NaN
3195  *Age-standardized mortality rate for both sexe...   NaN

     Mortality Rate, 1980* Mortality Rate, 1985* Mortality Rate, 1990*  \
3194                   NaN                   NaN                   NaN
3195                   NaN                   NaN                   NaN

     Mortality Rate, 1995* Mortality Rate, 2000* Mortality Rate, 2005*  \
3194                   NaN                   NaN                   NaN
3195                   NaN                   NaN                   NaN

     Mortality Rate, 2010* Mortality Rate, 2014*  \
3194                   NaN                   NaN
3195                   NaN                   NaN

     % Change in Mortality Rate, 1980-2014
3194                                   NaN
3195                                   NaN
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Other pharynx cancer
                                               Location  FIPS  \
3194                                                NaN   NaN
3195  *Age-standardized mortality rate for both sexe...   NaN

     Mortality Rate, 1980* Mortality Rate, 1985* Mortality Rate, 1990*  \
3194                   NaN                   NaN                   NaN
3195                   NaN                   NaN                   NaN

     Mortality Rate, 1995* Mortality Rate, 2000* Mortality Rate, 2005*  \
3194                   NaN                   NaN                   NaN
3195                   NaN                   NaN                   NaN

     Mortality Rate, 2010* Mortality Rate, 2014*  \
3194                   NaN                   NaN
3195                   NaN                   NaN

     % Change in Mortality Rate, 1980-2014
3194                                   NaN
3195                                   NaN
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Esophageal cancer
                                               Location  FIPS  \
3194                                                NaN   NaN
3195  *Age-standardized mortality rate for both sexe...   NaN

     Mortality Rate, 1980* Mortality Rate, 1985* Mortality Rate, 1990*  \
3194                   NaN                   NaN                   NaN
3195                   NaN                   NaN                   NaN

     Mortality Rate, 1995* Mortality Rate, 2000* Mortality Rate, 2005*  \
3194                   NaN                   NaN                   NaN
3195                   NaN                   NaN                   NaN

     Mortality Rate, 2010* Mortality Rate, 2014*  \
3194                   NaN                   NaN
3195                   NaN                   NaN

     % Change in Mortality Rate, 1980-2014
3194                                   NaN
3195                                   NaN
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Stomach cancer
                                               Location  FIPS  \
3194                                                NaN   NaN
3195  *Age-standardized mortality rate for both sexe...   NaN

     Mortality Rate, 1980* Mortality Rate, 1985* Mortality Rate, 1990*  \
3194                   NaN                   NaN                   NaN
3195                   NaN                   NaN                   NaN

     Mortality Rate, 1995* Mortality Rate, 2000* Mortality Rate, 2005*  \
3194                   NaN                   NaN                   NaN
3195                   NaN                   NaN                   NaN

     Mortality Rate, 2010* Mortality Rate, 2014*  \
3194                   NaN                   NaN
3195                   NaN                   NaN

     % Change in Mortality Rate, 1980-2014
3194                                   NaN
3195                                   NaN
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Colon & rectum cancer
                                               Location  FIPS  \
3194                                                NaN   NaN
3195  *Age-standardized mortality rate for both sexe...   NaN

     Mortality Rate, 1980* Mortality Rate, 1985* Mortality Rate, 1990*  \
3194                   NaN                   NaN                   NaN
3195                   NaN                   NaN                   NaN

     Mortality Rate, 1995* Mortality Rate, 2000* Mortality Rate, 2005*  \
3194                   NaN                   NaN                   NaN
3195                   NaN                   NaN                   NaN

     Mortality Rate, 2010* Mortality Rate, 2014*  \
3194                   NaN                   NaN
3195                   NaN                   NaN

     % Change in Mortality Rate, 1980-2014
3194                                   NaN
3195                                   NaN
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Liver cancer
                                               Location  FIPS  \
3194                                                NaN   NaN
3195  *Age-standardized mortality rate for both sexe...   NaN

     Mortality Rate, 1980* Mortality Rate, 1985* Mortality Rate, 1990*  \
3194                   NaN                   NaN                   NaN
3195                   NaN                   NaN                   NaN

     Mortality Rate, 1995* Mortality Rate, 2000* Mortality Rate, 2005*  \
3194                   NaN                   NaN                   NaN
3195                   NaN                   NaN                   NaN

     Mortality Rate, 2010* Mortality Rate, 2014*  \
3194                   NaN                   NaN
3195                   NaN                   NaN

     % Change in Mortality Rate, 1980-2014
3194                                   NaN
3195                                   NaN
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Gallbladder & biliary tract
                                               Location  FIPS  \
3194                                                NaN   NaN
3195  *Age-standardized mortality rate for both sexe...   NaN

     Mortality Rate, 1980* Mortality Rate, 1985* Mortality Rate, 1990*  \
3194                   NaN                   NaN                   NaN
3195                   NaN                   NaN                   NaN

     Mortality Rate, 1995* Mortality Rate, 2000* Mortality Rate, 2005*  \
3194                   NaN                   NaN                   NaN
3195                   NaN                   NaN                   NaN

     Mortality Rate, 2010* Mortality Rate, 2014*  \
3194                   NaN                   NaN
3195                   NaN                   NaN

     % Change in Mortality Rate, 1980-2014
3194                                   NaN
3195                                   NaN
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Pancreatic cancer
                                               Location  FIPS  \
3194                                                NaN   NaN
3195  *Age-standardized mortality rate for both sexe...   NaN

     Mortality Rate, 1980* Mortality Rate, 1985* Mortality Rate, 1990*  \
3194                   NaN                   NaN                   NaN
3195                   NaN                   NaN                   NaN

     Mortality Rate, 1995* Mortality Rate, 2000* Mortality Rate, 2005*  \
3194                   NaN                   NaN                   NaN
3195                   NaN                   NaN                   NaN

     Mortality Rate, 2010* Mortality Rate, 2014*  \
3194                   NaN                   NaN
3195                   NaN                   NaN

     % Change in Mortality Rate, 1980-2014
3194                                   NaN
3195                                   NaN
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Larynx cancer
                                               Location  FIPS  \
3194                                                NaN   NaN
3195  *Age-standardized mortality rate for both sexe...   NaN

     Mortality Rate, 1980* Mortality Rate, 1985* Mortality Rate, 1990*  \
3194                   NaN                   NaN                   NaN
3195                   NaN                   NaN                   NaN

     Mortality Rate, 1995* Mortality Rate, 2000* Mortality Rate, 2005*  \
3194                   NaN                   NaN                   NaN
3195                   NaN                   NaN                   NaN

     Mortality Rate, 2010* Mortality Rate, 2014*  \
3194                   NaN                   NaN
3195                   NaN                   NaN

     % Change in Mortality Rate, 1980-2014
3194                                   NaN
3195                                   NaN
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Tracheal, bronchus, & lung
                                               Location  FIPS  \
3194                                                NaN   NaN
3195  *Age-standardized mortality rate for both sexe...   NaN

     Mortality Rate, 1980* Mortality Rate, 1985* Mortality Rate, 1990*  \
3194                   NaN                   NaN                   NaN
3195                   NaN                   NaN                   NaN

     Mortality Rate, 1995* Mortality Rate, 2000* Mortality Rate, 2005*  \
3194                   NaN                   NaN                   NaN
3195                   NaN                   NaN                   NaN

     Mortality Rate, 2010* Mortality Rate, 2014*  \
3194                   NaN                   NaN
3195                   NaN                   NaN

     % Change in Mortality Rate, 1980-2014
3194                                   NaN
3195                                   NaN
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Malignant skin melanoma
                                               Location  FIPS  \
3194                                                NaN   NaN
3195  *Age-standardized mortality rate for both sexe...   NaN

     Mortality Rate, 1980* Mortality Rate, 1985* Mortality Rate, 1990*  \
3194                   NaN                   NaN                   NaN
3195                   NaN                   NaN                   NaN

     Mortality Rate, 1995* Mortality Rate, 2000* Mortality Rate, 2005*  \
3194                   NaN                   NaN                   NaN
3195                   NaN                   NaN                   NaN

     Mortality Rate, 2010* Mortality Rate, 2014*  \
3194                   NaN                   NaN
3195                   NaN                   NaN

     % Change in Mortality Rate, 1980-2014
3194                                   NaN
3195                                   NaN
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Non-melanoma skin cancer
                                               Location  FIPS  \
3194                                                NaN   NaN
3195  *Age-standardized mortality rate for both sexe...   NaN

     Mortality Rate, 1980* Mortality Rate, 1985* Mortality Rate, 1990*  \
3194                   NaN                   NaN                   NaN
3195                   NaN                   NaN                   NaN

     Mortality Rate, 1995* Mortality Rate, 2000* Mortality Rate, 2005*  \
3194                   NaN                   NaN                   NaN
3195                   NaN                   NaN                   NaN

     Mortality Rate, 2010* Mortality Rate, 2014*  \
3194                   NaN                   NaN
3195                   NaN                   NaN

     % Change in Mortality Rate, 1980-2014
3194                                   NaN
3195                                   NaN
Location                                 1
FIPS                                     3
Mortality Rate, 1980*                    2
Mortality Rate, 1985*                    2
Mortality Rate, 1990*                    2
Mortality Rate, 1995*                    2
Mortality Rate, 2000*                    2
Mortality Rate, 2005*                    2
Mortality Rate, 2010*                    2
Mortality Rate, 2014*                    2
% Change in Mortality Rate, 1980-2014    2
dtype: int64


Breast cancer
                                               Location  FIPS  \
3194                                                NaN   NaN
3195  *Age-standardized mortality rate for females o...   NaN


Inspection reveals the issue is the bottom two lines having empty content. Thus, I can simply snip that out when dealing with this data.

### percent_difference

This has two spreadsheets. One is an index of linking IDs which I will treat as with linking_ids above:

In [69]:
percent_difference_linking_df = pd.read_csv('../data/capstone_project/percent_difference/IHME_USA_COUNTY_CANCER_MORTALITY_RATES_1980_2014_CODEBOOK_PCT_DIFF_Y2017M01D24.CSV', skiprows=1).iloc[1:, 1:]
percent_difference_linking_df.head()

,location_id,location_name,FIPS,cause_id,cause_name,sex_id,sex,pc_change_val,upper,lower
1,102,United States,NaN,410,Neoplasms,1,Male,NaN,NaN,NaN
2,523,Alabama,1,444,Lip and oral cavity cancer,2,Female,NaN,NaN,NaN
3,524,Alaska,2,447,Nasopharynx cancer,3,Both,NaN,NaN,NaN
4,525,Arizona,4,450,Other pharynx cancer,NaN,NaN,NaN,NaN,NaN
5,526,Arkansas,5,411,Esophageal cancer,NaN,NaN,NaN,NaN,NaN

Another is the actual spreadsheet with data.

In [70]:
percent_difference_df = pd.read_csv('../data/capstone_project/percent_difference/IHME_USA_COUNTY_CANCER_MORTALITY_RATES_1980_2014_PCT_DIFF_Y2017M01D24.CSV')
percent_difference_df.head()

,location_id,location_name,FIPS,cause_id,cause_name,sex_id,sex,pc_change_val,upper,lower
0,102,United States,NaN,410,Neoplasms,1,Male,-27.413802,-25.187488,-29.220296
1,102,United States,NaN,410,Neoplasms,2,Female,-13.630408,-11.505307,-15.299046
2,102,United States,NaN,410,Neoplasms,3,Both,-20.063635,-18.217181,-21.421733
3,523,Alabama,1.0,410,Neoplasms,1,Male,-18.368852,-15.299238,-20.807560
4,523,Alabama,1.0,410,Neoplasms,2,Female,1.358138,4.729149,-1.454474

In [71]:
percent_difference_df.__len__()

309818

In [72]:
percent_difference_df.isna().sum()

location_id       0
location_name     0
FIPS             97
cause_id          0
cause_name        0
sex_id            0
sex               0
pc_change_val     0
upper             0
lower             0
dtype: int64

The only nulls are in FIPS, which I can just drop because, as above, I do not need it.

In [73]:
percent_difference_df.drop('FIPS', axis=1)

,location_id,location_name,cause_id,cause_name,sex_id,sex,pc_change_val,upper,lower
0,102,United States,410,Neoplasms,1,Male,-27.413802,-25.187488,-29.220296
1,102,United States,410,Neoplasms,2,Female,-13.630408,-11.505307,-15.299046
2,102,United States,410,Neoplasms,3,Both,-20.063635,-18.217181,-21.421733
3,523,Alabama,410,Neoplasms,1,Male,-18.368852,-15.299238,-20.807560
4,523,Alabama,410,Neoplasms,2,Female,1.358138,4.729149,-1.454474
...,...,...,...,...,...,...,...,...,...
309813,3700,Washakie County,488,Other neoplasms,2,Female,10.676856,44.333683,-15.029088
309814,3700,Washakie County,488,Other neoplasms,3,Both,0.242977,21.315584,-17.897009
309815,3699,Weston County,488,Other neoplasms,1,Male,-10.884845,13.943731,-30.073494
309816,3699,Weston County,488,Other neoplasms,2,Female,-2.420175,22.417314,-24.445990
309817,3699,Weston County,488,Other neoplasms,3,Both,-5.813621,11.299271,-20.892956

### state_by_state

This is the real bulk of the data - cancer data by US county.

Seeing as this has 51 files, I will have to read them recursively.

In [76]:
import os 
import glob 

states_files = glob.glob(os.path.join('../data/capstone_project/state_by_state', "*"))

In [82]:
states_data = {}
for state_file in states_files:
    states_data[state_file] = pd.read_excel(state_file, skiprows=1, sheet_name=None)

In [83]:
states_data.__len__()

51

In [93]:
states_data[states_files[0]]['Neoplasms'].head()

,Location,FIPS,"Mortality Rate, 1980*","Mortality Rate, 1985*","Mortality Rate, 1990*","Mortality Rate, 1995*","Mortality Rate, 2000*","Mortality Rate, 2005*","Mortality Rate, 2010*","Mortality Rate, 2014*","% Change in Mortality Rate, 1980-2014"
0,United States,NaN,"240.24 (235.83, 244.11)","236.81 (231.71, 240.33)","232.19 (226.38, 235.35)","231.17 (225.03, 234.65)","217.78 (213.47, 220.99)","205.58 (202.48, 209.80)","192.95 (189.79, 197.76)","192.04 (188.60, 197.71)","-20.06 (-21.42, -18.22)"
1,Alabama,1.0,"252.60 (247.84, 256.84)","252.43 (246.90, 256.52)","253.15 (246.95, 257.16)","257.15 (250.27, 261.47)","248.60 (243.58, 252.77)","240.58 (236.52, 245.66)","229.62 (225.33, 235.35)","230.98 (226.51, 238.32)","-8.56 (-10.46, -6.08)"
2,"Autauga County, Alabama",1001.0,"262.28 (246.93, 277.87)","262.79 (246.90, 277.06)","264.27 (249.27, 278.67)","264.91 (250.51, 279.03)","252.92 (239.13, 266.49)","244.35 (231.02, 258.29)","229.79 (216.77, 242.74)","233.32 (219.21, 249.01)","-11.04 (-18.82, -3.02)"
3,"Baldwin County, Alabama",1003.0,"233.78 (222.15, 245.84)","228.16 (217.23, 239.30)","229.82 (218.42, 240.97)","233.49 (222.07, 244.64)","217.76 (208.41, 228.06)","206.61 (196.72, 216.76)","201.58 (192.41, 210.89)","200.69 (191.51, 209.99)","-14.16 (-19.57, -7.63)"
4,"Barbour County, Alabama",1005.0,"260.64 (244.52, 278.22)","266.48 (251.03, 281.48)","272.11 (256.97, 288.59)","278.99 (263.06, 294.28)","271.62 (256.84, 287.13)","262.79 (247.20, 279.51)","256.72 (239.70, 275.05)","260.26 (241.30, 279.76)","-0.14 (-9.61, 10.42)"

Now I'd better unite these all into a singular dataset.

In [104]:
state_data_df = states_data[list(states_data.keys())[0]]

for state_data_key in list(states_data.keys())[1:]:
    state_data = states_data[state_data_key]
    for state_cancer_key in state_data.keys():
        state_cancer_data = state_data[state_cancer_key]
        state_data_df[state_cancer_key] = pd.concat([state_data_df[state_cancer_key], state_cancer_data])

In [107]:
state_data_df['Neoplasms'].head()

,Location,FIPS,"Mortality Rate, 1980*","Mortality Rate, 1985*","Mortality Rate, 1990*","Mortality Rate, 1995*","Mortality Rate, 2000*","Mortality Rate, 2005*","Mortality Rate, 2010*","Mortality Rate, 2014*","% Change in Mortality Rate, 1980-2014"
0,United States,NaN,"240.24 (235.83, 244.11)","236.81 (231.71, 240.33)","232.19 (226.38, 235.35)","231.17 (225.03, 234.65)","217.78 (213.47, 220.99)","205.58 (202.48, 209.80)","192.95 (189.79, 197.76)","192.04 (188.60, 197.71)","-20.06 (-21.42, -18.22)"
1,Alabama,1.0,"252.60 (247.84, 256.84)","252.43 (246.90, 256.52)","253.15 (246.95, 257.16)","257.15 (250.27, 261.47)","248.60 (243.58, 252.77)","240.58 (236.52, 245.66)","229.62 (225.33, 235.35)","230.98 (226.51, 238.32)","-8.56 (-10.46, -6.08)"
2,"Autauga County, Alabama",1001.0,"262.28 (246.93, 277.87)","262.79 (246.90, 277.06)","264.27 (249.27, 278.67)","264.91 (250.51, 279.03)","252.92 (239.13, 266.49)","244.35 (231.02, 258.29)","229.79 (216.77, 242.74)","233.32 (219.21, 249.01)","-11.04 (-18.82, -3.02)"
3,"Baldwin County, Alabama",1003.0,"233.78 (222.15, 245.84)","228.16 (217.23, 239.30)","229.82 (218.42, 240.97)","233.49 (222.07, 244.64)","217.76 (208.41, 228.06)","206.61 (196.72, 216.76)","201.58 (192.41, 210.89)","200.69 (191.51, 209.99)","-14.16 (-19.57, -7.63)"
4,"Barbour County, Alabama",1005.0,"260.64 (244.52, 278.22)","266.48 (251.03, 281.48)","272.11 (256.97, 288.59)","278.99 (263.06, 294.28)","271.62 (256.84, 287.13)","262.79 (247.20, 279.51)","256.72 (239.70, 275.05)","260.26 (241.30, 279.76)","-0.14 (-9.61, 10.42)"

Now we have a unified data set.

With this we can analyze the result.

In [109]:
for sheet in state_data_df.values():
    print(sheet.isna().sum())

Location                                  51
FIPS                                     153
Mortality Rate, 1980*                    102
Mortality Rate, 1985*                    102
Mortality Rate, 1990*                    102
Mortality Rate, 1995*                    102
Mortality Rate, 2000*                    102
Mortality Rate, 2005*                    102
Mortality Rate, 2010*                    102
Mortality Rate, 2014*                    102
% Change in Mortality Rate, 1980-2014    102
dtype: int64
Location                                  51
FIPS                                     153
Mortality Rate, 1980*                    102
Mortality Rate, 1985*                    102
Mortality Rate, 1990*                    102
Mortality Rate, 1995*                    102
Mortality Rate, 2000*                    102
Mortality Rate, 2005*                    102
Mortality Rate, 2010*                    102
Mortality Rate, 2014*                    102
% Change in Mortality Rate, 1980-2014    102
dtype: int64
Location                                  51
FIPS                                     153
Mortality Rate, 1980*                    102
Mortality Rate, 1985*                    102
Mortality Rate, 1990*                    102
Mortality Rate, 1995*                    102
Mortality Rate, 2000*                    102
Mortality Rate, 2005*                    102
Mortality Rate, 2010*                    102
Mortality Rate, 2014*                    102
% Change in Mortality Rate, 1980-2014    102
dtype: int64
Location                                  51
FIPS                                     153
Mortality Rate, 1980*                    102
Mortality Rate, 1985*                    102
Mortality Rate, 1990*                    102
Mortality Rate, 1995*                    102
Mortality Rate, 2000*                    102
Mortality Rate, 2005*                    102
Mortality Rate, 2010*                    102
Mortality Rate, 2014*                    102
% Change in Mortality Rate, 1980-2014    102
dtype: int64
Location                                  51
FIPS                                     153
Mortality Rate, 1980*                    102
Mortality Rate, 1985*                    102
Mortality Rate, 1990*                    102
Mortality Rate, 1995*                    102
Mortality Rate, 2000*                    102
Mortality Rate, 2005*                    102
Mortality Rate, 2010*                    102
Mortality Rate, 2014*                    102
% Change in Mortality Rate, 1980-2014    102
dtype: int64
Location                                  51
FIPS                                     153
Mortality Rate, 1980*                    102
Mortality Rate, 1985*                    102
Mortality Rate, 1990*                    102
Mortality Rate, 1995*                    102
Mortality Rate, 2000*                    102
Mortality Rate, 2005*                    102
Mortality Rate, 2010*                    102
Mortality Rate, 2014*                    102
% Change in Mortality Rate, 1980-2014    102
dtype: int64
Location                                  51
FIPS                                     153
Mortality Rate, 1980*                    102
Mortality Rate, 1985*                    102
Mortality Rate, 1990*                    102
Mortality Rate, 1995*                    102
Mortality Rate, 2000*                    102
Mortality Rate, 2005*                    102
Mortality Rate, 2010*                    102
Mortality Rate, 2014*                    102
% Change in Mortality Rate, 1980-2014    102
dtype: int64
Location                                  51
FIPS                                     153
Mortality Rate, 1980*                    102
Mortality Rate, 1985*                    102
Mortality Rate, 1990*                    102
Mortality Rate, 1995*                    102
Mortality Rate, 2000*                    102
Mortality Rate, 2005*                    102
Mortality Rate, 2010*                    102
Mortality Rate, 2014*                    102
% Change in Mortality Rate, 1980-2014    102
dtype: int64
Location                                  51
FIPS                                     153
Mortality Rate, 1980*                    102
Mortality Rate, 1985*                    102
Mortality Rate, 1990*                    102
Mortality Rate, 1995*                    102
Mortality Rate, 2000*                    102
Mortality Rate, 2005*                    102
Mortality Rate, 2010*                    102
Mortality Rate, 2014*                    102
% Change in Mortality Rate, 1980-2014    102
dtype: int64
Location                                  51
FIPS                                     153
Mortality Rate, 1980*                    102
Mortality Rate, 1985*                    102
Mortality Rate, 1990*                    102
Mortality Rate, 1995*                    102
Mortality Rate, 2000*                    102
Mortality Rate, 2005*                    102
Mortality Rate, 2010*                    102
Mortality Rate, 2014*                    102
% Change in Mortality Rate, 1980-2014    102
dtype: int64
Location                                  51
FIPS                                     153
Mortality Rate, 1980*                    102
Mortality Rate, 1985*                    102
Mortality Rate, 1990*                    102
Mortality Rate, 1995*                    102
Mortality Rate, 2000*                    102
Mortality Rate, 2005*                    102
Mortality Rate, 2010*                    102
Mortality Rate, 2014*                    102
% Change in Mortality Rate, 1980-2014    102
dtype: int64
Location                                  51
FIPS                                     153
Mortality Rate, 1980*                    102
Mortality Rate, 1985*                    102
Mortality Rate, 1990*                    102
Mortality Rate, 1995*                    102
Mortality Rate, 2000*                    102
Mortality Rate, 2005*                    102
Mortality Rate, 2010*                    102
Mortality Rate, 2014*                    102
% Change in Mortality Rate, 1980-2014    102
dtype: int64
Location                                  51
FIPS                                     153
Mortality Rate, 1980*                    102
Mortality Rate, 1985*                    102
Mortality Rate, 1990*                    102
Mortality Rate, 1995*                    102
Mortality Rate, 2000*                    102
Mortality Rate, 2005*                    102
Mortality Rate, 2010*                    102
Mortality Rate, 2014*                    102
% Change in Mortality Rate, 1980-2014    102
dtype: int64
Location                                  51
FIPS                                     153
Mortality Rate, 1980*                    102
Mortality Rate, 1985*                    102
Mortality Rate, 1990*                    102
Mortality Rate, 1995*                    102
Mortality Rate, 2000*                    102
Mortality Rate, 2005*                    102
Mortality Rate, 2010*                    102
Mortality Rate, 2014*                    102
% Change in Mortality Rate, 1980-2014    102
dtype: int64
Location                                  51
FIPS                                     153
Mortality Rate, 1980*                    102
Mortality Rate, 1985*                    102
Mortality Rate, 1990*                    102
Mortality Rate, 1995*                    102
Mortality Rate, 2000*                    102
Mortality Rate, 2005*                    102
Mortality Rate, 2010*                    102
Mortality Rate, 2014*                    102
% Change in Mortality Rate, 1980-2014    102
dtype: int64
Location                                  51
FIPS                                     153
Mortality Rate, 1980*                    102
Mortality Rate, 1985*                    102
Mortality Rate, 1990*                    102
Mortality Rate, 1995*                    102
Mortality Rate, 2000*                    102
Mortality Rate, 2005*                    102
Mortality Rate, 2010*                    102
Mortality Rate, 2014*                    102
% Change in Mortality Rate, 1980-2014    102
dtype: int64
Location                                  51
FIPS                                     153
Mortality Rate, 1980*                    102
Mortality Rate, 1985*                    102
Mortality Rate, 1990*                    102
Mortality Rate, 1995*                    102
Mortality Rate, 2000*                    102
Mortality Rate, 2005*                    102
Mortality Rate, 2010*                    102
Mortality Rate, 2014*                    102
% Change in Mortality Rate, 1980-2014    102
dtype: int64
Location                                  51
FIPS                                     153
Mortality Rate, 1980*                    102
Mortality Rate, 1985*                    102
Mortality Rate, 1990*                    102
Mortality Rate, 1995*                    102
Mortality Rate, 2000*                    102
Mortality Rate, 2005*                    102
Mortality Rate, 2010*                    102
Mortality Rate, 2014*                    102
% Change in Mortality Rate, 1980-2014    102
dtype: int64
Location                                  51
FIPS                                     153
Mortality Rate, 1980*                    102
Mortality Rate, 1985*                    102
Mortality Rate, 1990*                    102
Mortality Rate, 1995*                    102
Mortality Rate, 2000*                    102
Mortality Rate, 2005*                    102
Mortality Rate, 2010*                    102
Mortality Rate, 2014*                    102
% Change in Mortality Rate, 1980-2014    102
dtype: int64
Location                                  51
FIPS                                     153
Mortality Rate, 1980*                    102
Mortality Rate, 1985*                    102
Mortality Rate, 1990*                    102
Mortality Rate, 1995*                    102
Mortality Rate, 2000*                    102
Mortality Rate, 2005*                    102
Mortality Rate, 2010*                    102
Mortality Rate, 2014*                    102
% Change in Mortality Rate, 1980-2014    102
dtype: int64
Location                                  51
FIPS                                     153
Mortality Rate, 1980*                    102
Mortality Rate, 1985*                    102
Mortality Rate, 1990*                    102
Mortality Rate, 1995*                    102
Mortality Rate, 2000*                    102
Mortality Rate, 2005*                    102
Mortality Rate, 2010*                    102
Mortality Rate, 2014*                    102
% Change in Mortality Rate, 1980-2014    102
dtype: int64
Location                                  51
FIPS                                     153
Mortality Rate, 1980*                    102
Mortality Rate, 1985*                    102
Mortality Rate, 1990*                    102
Mortality Rate, 1995*                    102
Mortality Rate, 2000*                    102
Mortality Rate, 2005*                    102
Mortality Rate, 2010*                    102
Mortality Rate, 2014*                    102
% Change in Mortality Rate, 1980-2014    102
dtype: int64
Location                                  51
FIPS                                     153
Mortality Rate, 1980*                    102
Mortality Rate, 1985*                    102
Mortality Rate, 1990*                    102
Mortality Rate, 1995*                    102
Mortality Rate, 2000*                    102
Mortality Rate, 2005*                    102
Mortality Rate, 2010*                    102
Mortality Rate, 2014*                    102
% Change in Mortality Rate, 1980-2014    102
dtype: int64
Location                                  51
FIPS                                     153
Mortality Rate, 1980*                    102
Mortality Rate, 1985*                    102
Mortality Rate, 1990*                    102
Mortality Rate, 1995*                    102
Mortality Rate, 2000*                    102
Mortality Rate, 2005*                    102
Mortality Rate, 2010*                    102
Mortality Rate, 2014*                    102
% Change in Mortality Rate, 1980-2014    102
dtype: int64
Location                                  51
FIPS                                     153
Mortality Rate, 1980*                    102
Mortality Rate, 1985*                    102
Mortality Rate, 1990*                    102
Mortality Rate, 1995*                    102
Mortality Rate, 2000*                    102
Mortality Rate, 2005*                    102
Mortality Rate, 2010*                    102
Mortality Rate, 2014*                    102
% Change in Mortality Rate, 1980-2014    102
dtype: int64
Location                                  51
FIPS                                     153
Mortality Rate, 1980*                    102
Mortality Rate, 1985*                    102
Mortality Rate, 1990*                    102
Mortality Rate, 1995*                    102
Mortality Rate, 2000*                    102
Mortality Rate, 2005*                    102
Mortality Rate, 2010*                    102
Mortality Rate, 2014*                    102
% Change in Mortality Rate, 1980-2014    102
dtype: int64
Location                                  51
FIPS                                     153
Mortality Rate, 1980*                    102
Mortality Rate, 1985*                    102
Mortality Rate, 1990*                    102
Mortality Rate, 1995*                    102
Mortality Rate, 2000*                    102
Mortality Rate, 2005*                    102
Mortality Rate, 2010*                    102
Mortality Rate, 2014*                    102
% Change in Mortality Rate, 1980-2014    102
dtype: int64
Location                                  51
FIPS                                     153
Mortality Rate, 1980*                    102
Mortality Rate, 1985*                    102
Mortality Rate, 1990*                    102
Mortality Rate, 1995*                    102
Mortality Rate, 2000*                    102
Mortality Rate, 2005*                    102
Mortality Rate, 2010*                    102
Mortality Rate, 2014*                    102
% Change in Mortality Rate, 1980-2014    102
dtype: int64
Location                                  51
FIPS                                     153
Mortality Rate, 1980*                    102
Mortality Rate, 1985*                    102
Mortality Rate, 1990*                    102
Mortality Rate, 1995*                    102
Mortality Rate, 2000*                    102
Mortality Rate, 2005*                    102
Mortality Rate, 2010*                    102
Mortality Rate, 2014*                    102
% Change in Mortality Rate, 1980-2014    102
dtype: int64
Location                                  51
FIPS                                     153
Mortality Rate, 1980*                    102
Mortality Rate, 1985*                    102
Mortality Rate, 1990*                    102
Mortality Rate, 1995*                    102
Mortality Rate, 2000*                    102
Mortality Rate, 2005*                    102
Mortality Rate, 2010*                    102
Mortality Rate, 2014*                    102
% Change in Mortality Rate, 1980-2014    102
dtype: int64
Location                                  51
FIPS                                     153
Mortality Rate, 1980*                    102
Mortality Rate, 1985*                    102
Mortality Rate, 1990*                    102
Mortality Rate, 1995*                    102
Mortality Rate, 2000*                    102
Mortality Rate, 2005*                    102
Mortality Rate, 2010*                    102
Mortality Rate, 2014*                    102
% Change in Mortality Rate, 1980-2014    102
dtype: int64
Location                                  51
FIPS                                     153
Mortality Rate, 1980*                    102
Mortality Rate, 1985*                    102
Mortality Rate, 1990*                    102
Mortality Rate, 1995*                    102
Mortality Rate, 2000*                    102
Mortality Rate, 2005*                    102
Mortality Rate, 2010*                    102
Mortality Rate, 2014*                    102
% Change in Mortality Rate, 1980-2014    102
dtype: int64
Location                                  51
FIPS                                     153
Mortality Rate, 1980*                    102
Mortality Rate, 1985*                    102
Mortality Rate, 1990*                    102
Mortality Rate, 1995*                    102
Mortality Rate, 2000*                    102
Mortality Rate, 2005*                    102
Mortality Rate, 2010*                    102
Mortality Rate, 2014*                    102
% Change in Mortality Rate, 1980-2014    102
dtype: int64
Location                                  51
FIPS                                     153
Mortality Rate, 1980*                    102
Mortality Rate, 1985*                    102
Mortality Rate, 1990*                    102
Mortality Rate, 1995*                    102
Mortality Rate, 2000*                    102
Mortality Rate, 2005*                    102
Mortality Rate, 2010*                    102
Mortality Rate, 2014*                    102
% Change in Mortality Rate, 1980-2014    102
dtype: int64

Now some further analysis of these nulls - which seem to be even across the sheets - is needed.

In [111]:
for sheet in state_data_df.values():
    print(sheet[sheet.isna()['Mortality Rate, 2014*']])

                                             Location  FIPS  \
69                                                NaN   NaN
70  *Age-standardized mortality rate for both sexe...   NaN
31                                                NaN   NaN
32  *Age-standardized mortality rate for both sexe...   NaN
17                                                NaN   NaN
..                                                ...   ...
58  *Age-standardized mortality rate for both sexe...   NaN
74                                                NaN   NaN
75  *Age-standardized mortality rate for both sexe...   NaN
25                                                NaN   NaN
26  *Age-standardized mortality rate for both sexe...   NaN

   Mortality Rate, 1980* Mortality Rate, 1985* Mortality Rate, 1990*  \
69                   NaN                   NaN                   NaN
70                   NaN                   NaN                   NaN
31                   NaN                   NaN                   NaN
32                   NaN                   NaN                   NaN
17                   NaN                   NaN                   NaN
..                   ...                   ...                   ...
58                   NaN                   NaN                   NaN
74                   NaN                   NaN                   NaN
75                   NaN                   NaN                   NaN
25                   NaN                   NaN                   NaN
26                   NaN                   NaN                   NaN

   Mortality Rate, 1995* Mortality Rate, 2000* Mortality Rate, 2005*  \
69                   NaN                   NaN                   NaN
70                   NaN                   NaN                   NaN
31                   NaN                   NaN                   NaN
32                   NaN                   NaN                   NaN
17                   NaN                   NaN                   NaN
..                   ...                   ...                   ...
58                   NaN                   NaN                   NaN
74                   NaN                   NaN                   NaN
75                   NaN                   NaN                   NaN
25                   NaN                   NaN                   NaN
26                   NaN                   NaN                   NaN

   Mortality Rate, 2010* Mortality Rate, 2014*  \
69                   NaN                   NaN
70                   NaN                   NaN
31                   NaN                   NaN
32                   NaN                   NaN
17                   NaN                   NaN
..                   ...                   ...
58                   NaN                   NaN
74                   NaN                   NaN
75                   NaN                   NaN
25                   NaN                   NaN
26                   NaN                   NaN

   % Change in Mortality Rate, 1980-2014
69                                   NaN
70                                   NaN
31                                   NaN
32                                   NaN
17                                   NaN
..                                   ...
58                                   NaN
74                                   NaN
75                                   NaN
25                                   NaN
26                                   NaN

[102 rows x 11 columns]
                                             Location  FIPS  \
69                                                NaN   NaN
70  *Age-standardized mortality rate for both sexe...   NaN
31                                                NaN   NaN
32  *Age-standardized mortality rate for both sexe...   NaN
17                                                NaN   NaN
..                                                ...   ...
58  *Age-standardized mortality rate for both sexe...   NaN
74                                                NaN   NaN
75  *Age-standardized mortality rate for both sexe...   NaN
25                                                NaN   NaN
26  *Age-standardized mortality rate for both sexe...   NaN

   Mortality Rate, 1980* Mortality Rate, 1985* Mortality Rate, 1990*  \
69                   NaN                   NaN                   NaN
70                   NaN                   NaN                   NaN
31                   NaN                   NaN                   NaN
32                   NaN                   NaN                   NaN
17                   NaN                   NaN                   NaN
..                   ...                   ...                   ...
58                   NaN                   NaN                   NaN
74                   NaN                   NaN                   NaN
75                   NaN                   NaN                   NaN
25                   NaN                   NaN                   NaN
26                   NaN                   NaN                   NaN

   Mortality Rate, 1995* Mortality Rate, 2000* Mortality Rate, 2005*  \
69                   NaN                   NaN                   NaN
70                   NaN                   NaN                   NaN
31                   NaN                   NaN                   NaN
32                   NaN                   NaN                   NaN
17                   NaN                   NaN                   NaN
..                   ...                   ...                   ...
58                   NaN                   NaN                   NaN
74                   NaN                   NaN                   NaN
75                   NaN                   NaN                   NaN
25                   NaN                   NaN                   NaN
26                   NaN                   NaN                   NaN

   Mortality Rate, 2010* Mortality Rate, 2014*  \
69                   NaN                   NaN
70                   NaN                   NaN
31                   NaN                   NaN
32                   NaN                   NaN
17                   NaN                   NaN
..                   ...                   ...
58                   NaN                   NaN
74                   NaN                   NaN
75                   NaN                   NaN
25                   NaN                   NaN
26                   NaN                   NaN

   % Change in Mortality Rate, 1980-2014
69                                   NaN
70                                   NaN
31                                   NaN
32                                   NaN
17                                   NaN
..                                   ...
58                                   NaN
74                                   NaN
75                                   NaN
25                                   NaN
26                                   NaN

[102 rows x 11 columns]
                                             Location  FIPS  \
69                                                NaN   NaN
70  *Age-standardized mortality rate for both sexe...   NaN
31                                                NaN   NaN
32  *Age-standardized mortality rate for both sexe...   NaN
17                                                NaN   NaN
..                                                ...   ...
58  *Age-standardized mortality rate for both sexe...   NaN
74                                                NaN   NaN
75  *Age-standardized mortality rate for both sexe...   NaN
25                                                NaN   NaN
26  *Age-standardized mortality rate for both sexe...   NaN

   Mortality Rate, 1980* Mortality Rate, 1985* Mortality Rate, 1990*  \
69                   NaN                   NaN                   NaN
70                   NaN                   NaN                   NaN
31                   NaN                   NaN                   NaN
32                   NaN                   NaN                   NaN
17                   NaN                   NaN                   NaN
..                   ...                   ...                   ...
58                   NaN                   NaN                   NaN
74                   NaN                   NaN                   NaN
75                   NaN                   NaN                   NaN
25                   NaN                   NaN                   NaN
26                   NaN                   NaN                   NaN

   Mortality Rate, 1995* Mortality Rate, 2000* Mortality Rate, 2005*  \
69                   NaN                   NaN                   NaN
70                   NaN                   NaN                   NaN
31                   NaN                   NaN                   NaN
32                   NaN                   NaN                   NaN
17                   NaN                   NaN                   NaN
..                   ...                   ...                   ...
58                   NaN                   NaN                   NaN
74                   NaN                   NaN                   NaN
75                   NaN                   NaN                   NaN
25                   NaN                   NaN                   NaN
26                   NaN                   NaN                   NaN

   Mortality Rate, 2010* Mortality Rate, 2014*  \
69                   NaN                   NaN
70                   NaN                   NaN
31                   NaN                   NaN
32                   NaN                   NaN
17                   NaN                   NaN
..                   ...                   ...
58                   NaN                   NaN
74                   NaN                   NaN
75                   NaN                   NaN
25                   NaN                   NaN
26                   NaN                   NaN

   % Change in Mortality Rate, 1980-2014
69                                   NaN
70                                   NaN
31                                   NaN
32                                   NaN
17                                   NaN
..                                   ...
58                                   NaN
74                                   NaN
75                                   NaN
25                                   NaN
26                                   NaN

[102 rows x 11 columns]
                                             Location  FIPS  \
69                                                NaN   NaN
70  *Age-standardized mortality rate for both sexe...   NaN
31                                                NaN   NaN
32  *Age-standardized mortality rate for both sexe...   NaN
17                                                NaN   NaN
..                                                ...   ...
58  *Age-standardized mortality rate for both sexe...   NaN
74                                                NaN   NaN
75  *Age-standardized mortality rate for both sexe...   NaN
25                                                NaN   NaN
26  *Age-standardized mortality rate for both sexe...   NaN

   Mortality Rate, 1980* Mortality Rate, 1985* Mortality Rate, 1990*  \
69                   NaN                   NaN                   NaN
70                   NaN                   NaN                   NaN
31                   NaN                   NaN                   NaN
32                   NaN                   NaN                   NaN
17                   NaN                   NaN                   NaN
..                   ...                   ...                   ...
58                   NaN                   NaN                   NaN
74                   NaN                   NaN                   NaN
75                   NaN                   NaN                   NaN
25                   NaN                   NaN                   NaN
26                   NaN                   NaN                   NaN

   Mortality Rate, 1995* Mortality Rate, 2000* Mortality Rate, 2005*  \
69                   NaN                   NaN                   NaN
70                   NaN                   NaN                   NaN
31                   NaN                   NaN                   NaN
32                   NaN                   NaN                   NaN
17                   NaN                   NaN                   NaN
..                   ...                   ...                   ...
58                   NaN                   NaN                   NaN
74                   NaN                   NaN                   NaN
75                   NaN                   NaN                   NaN
25                   NaN                   NaN                   NaN
26                   NaN                   NaN                   NaN

   Mortality Rate, 2010* Mortality Rate, 2014*  \
69                   NaN                   NaN
70                   NaN                   NaN
31                   NaN                   NaN
32                   NaN                   NaN
17                   NaN                   NaN
..                   ...                   ...
58                   NaN                   NaN
74                   NaN                   NaN
75                   NaN                   NaN
25                   NaN                   NaN
26                   NaN                   NaN

   % Change in Mortality Rate, 1980-2014
69                                   NaN
70                                   NaN
31                                   NaN
32                                   NaN
17                                   NaN
..                                   ...
58                                   NaN
74                                   NaN
75                                   NaN
25                                   NaN
26                                   NaN

[102 rows x 11 columns]
                                             Location  FIPS  \
69                                                NaN   NaN
70  *Age-standardized mortality rate for both sexe...   NaN
31                                                NaN   NaN
32  *Age-standardized mortality rate for both sexe...   NaN
17                                                NaN   NaN
..                                                ...   ...
58  *Age-standardized mortality rate for both sexe...   NaN
74                                                NaN   NaN
75  *Age-standardized mortality rate for both sexe...   NaN
25                                                NaN   NaN
26  *Age-standardized mortality rate for both sexe...   NaN

   Mortality Rate, 1980* Mortality Rate, 1985* Mortality Rate, 1990*  \
69                   NaN                   NaN                   NaN
70                   NaN                   NaN                   NaN
31                   NaN                   NaN                   NaN
32                   NaN                   NaN                   NaN
17                   NaN                   NaN                   NaN
..                   ...                   ...                   ...
58                   NaN                   NaN                   NaN
74                   NaN                   NaN                   NaN
75                   NaN                   NaN                   NaN
25                   NaN                   NaN                   NaN
26                   NaN                   NaN                   NaN

   Mortality Rate, 1995* Mortality Rate, 2000* Mortality Rate, 2005*  \
69                   NaN                   NaN                   NaN
70                   NaN                   NaN                   NaN
31                   NaN                   NaN                   NaN
32                   NaN                   NaN                   NaN
17                   NaN                   NaN                   NaN
..                   ...                   ...                   ...
58                   NaN                   NaN                   NaN
74                   NaN                   NaN                   NaN
75                   NaN                   NaN                   NaN
25                   NaN                   NaN                   NaN
26                   NaN                   NaN                   NaN

   Mortality Rate, 2010* Mortality Rate, 2014*  \
69                   NaN                   NaN
70                   NaN                   NaN
31                   NaN                   NaN
32                   NaN                   NaN
17                   NaN                   NaN
..                   ...                   ...
58                   NaN                   NaN
74                   NaN                   NaN
75                   NaN                   NaN
25                   NaN                   NaN
26                   NaN                   NaN

   % Change in Mortality Rate, 1980-2014
69                                   NaN
70                                   NaN
31                                   NaN
32                                   NaN
17                                   NaN
..                                   ...
58                                   NaN
74                                   NaN
75                                   NaN
25                                   NaN
26                                   NaN

[102 rows x 11 columns]
                                             Location  FIPS  \
69                                                NaN   NaN
70  *Age-standardized mortality rate for both sexe...   NaN
31                                                NaN   NaN
32  *Age-standardized mortality rate for both sexe...   NaN
17                                                NaN   NaN
..                                                ...   ...
58  *Age-standardized mortality rate for both sexe...   NaN
74                                                NaN   NaN
75  *Age-standardized mortality rate for both sexe...   NaN
25                                                NaN   NaN
26  *Age-standardized mortality rate for both sexe...   NaN

   Mortality Rate, 1980* Mortality Rate, 1985* Mortality Rate, 1990*  \
69                   NaN                   NaN                   NaN
70                   NaN                   NaN                   NaN
31                   NaN                   NaN                   NaN
32                   NaN                   NaN                   NaN
17                   NaN                   NaN                   NaN
..                   ...                   ...                   ...
58                   NaN                   NaN                   NaN
74                   NaN                   NaN                   NaN
75                   NaN                   NaN                   NaN
25                   NaN                   NaN                   NaN
26                   NaN                   NaN                   NaN

   Mortality Rate, 1995* Mortality Rate, 2000* Mortality Rate, 2005*  \
69                   NaN                   NaN                   NaN
70                   NaN                   NaN                   NaN
31                   NaN                   NaN                   NaN
32                   NaN                   NaN                   NaN
17                   NaN                   NaN                   NaN
..                   ...                   ...                   ...
58                   NaN                   NaN                   NaN
74                   NaN                   NaN                   NaN
75                   NaN                   NaN                   NaN
25                   NaN                   NaN                   NaN
26                   NaN                   NaN                   NaN

   Mortality Rate, 2010* Mortality Rate, 2014*  \
69                   NaN                   NaN
70                   NaN                   NaN
31                   NaN                   NaN
32                   NaN                   NaN

As can be seen, these are empty useless rows, so they should be discarded.

In [116]:
for state_key in state_data_df.keys():
    sheet = state_data_df[state_key]
    state_data_df[state_key] = sheet.drop(sheet[sheet.isna()['Mortality Rate, 2014*']].index)

In [122]:
for sheet in state_data_df.values():
    print(sheet.isna().sum())

Location                                  0
FIPS                                     51
Mortality Rate, 1980*                     0
Mortality Rate, 1985*                     0
Mortality Rate, 1990*                     0
Mortality Rate, 1995*                     0
Mortality Rate, 2000*                     0
Mortality Rate, 2005*                     0
Mortality Rate, 2010*                     0
Mortality Rate, 2014*                     0
% Change in Mortality Rate, 1980-2014     0
dtype: int64
Location                                  0
FIPS                                     51
Mortality Rate, 1980*                     0
Mortality Rate, 1985*                     0
Mortality Rate, 1990*                     0
Mortality Rate, 1995*                     0
Mortality Rate, 2000*                     0
Mortality Rate, 2005*                     0
Mortality Rate, 2010*                     0
Mortality Rate, 2014*                     0
% Change in Mortality Rate, 1980-2014     0
dtype: int64
Location                                  0
FIPS                                     51
Mortality Rate, 1980*                     0
Mortality Rate, 1985*                     0
Mortality Rate, 1990*                     0
Mortality Rate, 1995*                     0
Mortality Rate, 2000*                     0
Mortality Rate, 2005*                     0
Mortality Rate, 2010*                     0
Mortality Rate, 2014*                     0
% Change in Mortality Rate, 1980-2014     0
dtype: int64
Location                                  0
FIPS                                     51
Mortality Rate, 1980*                     0
Mortality Rate, 1985*                     0
Mortality Rate, 1990*                     0
Mortality Rate, 1995*                     0
Mortality Rate, 2000*                     0
Mortality Rate, 2005*                     0
Mortality Rate, 2010*                     0
Mortality Rate, 2014*                     0
% Change in Mortality Rate, 1980-2014     0
dtype: int64
Location                                  0
FIPS                                     51
Mortality Rate, 1980*                     0
Mortality Rate, 1985*                     0
Mortality Rate, 1990*                     0
Mortality Rate, 1995*                     0
Mortality Rate, 2000*                     0
Mortality Rate, 2005*                     0
Mortality Rate, 2010*                     0
Mortality Rate, 2014*                     0
% Change in Mortality Rate, 1980-2014     0
dtype: int64
Location                                  0
FIPS                                     51
Mortality Rate, 1980*                     0
Mortality Rate, 1985*                     0
Mortality Rate, 1990*                     0
Mortality Rate, 1995*                     0
Mortality Rate, 2000*                     0
Mortality Rate, 2005*                     0
Mortality Rate, 2010*                     0
Mortality Rate, 2014*                     0
% Change in Mortality Rate, 1980-2014     0
dtype: int64
Location                                  0
FIPS                                     51
Mortality Rate, 1980*                     0
Mortality Rate, 1985*                     0
Mortality Rate, 1990*                     0
Mortality Rate, 1995*                     0
Mortality Rate, 2000*                     0
Mortality Rate, 2005*                     0
Mortality Rate, 2010*                     0
Mortality Rate, 2014*                     0
% Change in Mortality Rate, 1980-2014     0
dtype: int64
Location                                  0
FIPS                                     51
Mortality Rate, 1980*                     0
Mortality Rate, 1985*                     0
Mortality Rate, 1990*                     0
Mortality Rate, 1995*                     0
Mortality Rate, 2000*                     0
Mortality Rate, 2005*                     0
Mortality Rate, 2010*                     0
Mortality Rate, 2014*                     0
% Change in Mortality Rate, 1980-2014     0
dtype: int64
Location                                  0
FIPS                                     51
Mortality Rate, 1980*                     0
Mortality Rate, 1985*                     0
Mortality Rate, 1990*                     0
Mortality Rate, 1995*                     0
Mortality Rate, 2000*                     0
Mortality Rate, 2005*                     0
Mortality Rate, 2010*                     0
Mortality Rate, 2014*                     0
% Change in Mortality Rate, 1980-2014     0
dtype: int64
Location                                  0
FIPS                                     51
Mortality Rate, 1980*                     0
Mortality Rate, 1985*                     0
Mortality Rate, 1990*                     0
Mortality Rate, 1995*                     0
Mortality Rate, 2000*                     0
Mortality Rate, 2005*                     0
Mortality Rate, 2010*                     0
Mortality Rate, 2014*                     0
% Change in Mortality Rate, 1980-2014     0
dtype: int64
Location                                  0
FIPS                                     51
Mortality Rate, 1980*                     0
Mortality Rate, 1985*                     0
Mortality Rate, 1990*                     0
Mortality Rate, 1995*                     0
Mortality Rate, 2000*                     0
Mortality Rate, 2005*                     0
Mortality Rate, 2010*                     0
Mortality Rate, 2014*                     0
% Change in Mortality Rate, 1980-2014     0
dtype: int64
Location                                  0
FIPS                                     51
Mortality Rate, 1980*                     0
Mortality Rate, 1985*                     0
Mortality Rate, 1990*                     0
Mortality Rate, 1995*                     0
Mortality Rate, 2000*                     0
Mortality Rate, 2005*                     0
Mortality Rate, 2010*                     0
Mortality Rate, 2014*                     0
% Change in Mortality Rate, 1980-2014     0
dtype: int64
Location                                  0
FIPS                                     51
Mortality Rate, 1980*                     0
Mortality Rate, 1985*                     0
Mortality Rate, 1990*                     0
Mortality Rate, 1995*                     0
Mortality Rate, 2000*                     0
Mortality Rate, 2005*                     0
Mortality Rate, 2010*                     0
Mortality Rate, 2014*                     0
% Change in Mortality Rate, 1980-2014     0
dtype: int64
Location                                  0
FIPS                                     51
Mortality Rate, 1980*                     0
Mortality Rate, 1985*                     0
Mortality Rate, 1990*                     0
Mortality Rate, 1995*                     0
Mortality Rate, 2000*                     0
Mortality Rate, 2005*                     0
Mortality Rate, 2010*                     0
Mortality Rate, 2014*                     0
% Change in Mortality Rate, 1980-2014     0
dtype: int64
Location                                  0
FIPS                                     51
Mortality Rate, 1980*                     0
Mortality Rate, 1985*                     0
Mortality Rate, 1990*                     0
Mortality Rate, 1995*                     0
Mortality Rate, 2000*                     0
Mortality Rate, 2005*                     0
Mortality Rate, 2010*                     0
Mortality Rate, 2014*                     0
% Change in Mortality Rate, 1980-2014     0
dtype: int64
Location                                  0
FIPS                                     51
Mortality Rate, 1980*                     0
Mortality Rate, 1985*                     0
Mortality Rate, 1990*                     0
Mortality Rate, 1995*                     0
Mortality Rate, 2000*                     0
Mortality Rate, 2005*                     0
Mortality Rate, 2010*                     0
Mortality Rate, 2014*                     0
% Change in Mortality Rate, 1980-2014     0
dtype: int64
Location                                  0
FIPS                                     51
Mortality Rate, 1980*                     0
Mortality Rate, 1985*                     0
Mortality Rate, 1990*                     0
Mortality Rate, 1995*                     0
Mortality Rate, 2000*                     0
Mortality Rate, 2005*                     0
Mortality Rate, 2010*                     0
Mortality Rate, 2014*                     0
% Change in Mortality Rate, 1980-2014     0
dtype: int64
Location                                  0
FIPS                                     51
Mortality Rate, 1980*                     0
Mortality Rate, 1985*                     0
Mortality Rate, 1990*                     0
Mortality Rate, 1995*                     0
Mortality Rate, 2000*                     0
Mortality Rate, 2005*                     0
Mortality Rate, 2010*                     0
Mortality Rate, 2014*                     0
% Change in Mortality Rate, 1980-2014     0
dtype: int64
Location                                  0
FIPS                                     51
Mortality Rate, 1980*                     0
Mortality Rate, 1985*                     0
Mortality Rate, 1990*                     0
Mortality Rate, 1995*                     0
Mortality Rate, 2000*                     0
Mortality Rate, 2005*                     0
Mortality Rate, 2010*                     0
Mortality Rate, 2014*                     0
% Change in Mortality Rate, 1980-2014     0
dtype: int64
Location                                  0
FIPS                                     51
Mortality Rate, 1980*                     0
Mortality Rate, 1985*                     0
Mortality Rate, 1990*                     0
Mortality Rate, 1995*                     0
Mortality Rate, 2000*                     0
Mortality Rate, 2005*                     0
Mortality Rate, 2010*                     0
Mortality Rate, 2014*                     0
% Change in Mortality Rate, 1980-2014     0
dtype: int64
Location                                  0
FIPS                                     51
Mortality Rate, 1980*                     0
Mortality Rate, 1985*                     0
Mortality Rate, 1990*                     0
Mortality Rate, 1995*                     0
Mortality Rate, 2000*                     0
Mortality Rate, 2005*                     0
Mortality Rate, 2010*                     0
Mortality Rate, 2014*                     0
% Change in Mortality Rate, 1980-2014     0
dtype: int64
Location                                  0
FIPS                                     51
Mortality Rate, 1980*                     0
Mortality Rate, 1985*                     0
Mortality Rate, 1990*                     0
Mortality Rate, 1995*                     0
Mortality Rate, 2000*                     0
Mortality Rate, 2005*                     0
Mortality Rate, 2010*                     0
Mortality Rate, 2014*                     0
% Change in Mortality Rate, 1980-2014     0
dtype: int64
Location                                  0
FIPS                                     51
Mortality Rate, 1980*                     0
Mortality Rate, 1985*                     0
Mortality Rate, 1990*                     0
Mortality Rate, 1995*                     0
Mortality Rate, 2000*                     0
Mortality Rate, 2005*                     0
Mortality Rate, 2010*                     0
Mortality Rate, 2014*                     0
% Change in Mortality Rate, 1980-2014     0
dtype: int64
Location                                  0
FIPS                                     51
Mortality Rate, 1980*                     0
Mortality Rate, 1985*                     0
Mortality Rate, 1990*                     0
Mortality Rate, 1995*                     0
Mortality Rate, 2000*                     0
Mortality Rate, 2005*                     0
Mortality Rate, 2010*                     0
Mortality Rate, 2014*                     0
% Change in Mortality Rate, 1980-2014     0
dtype: int64
Location                                  0
FIPS                                     51
Mortality Rate, 1980*                     0
Mortality Rate, 1985*                     0
Mortality Rate, 1990*                     0
Mortality Rate, 1995*                     0
Mortality Rate, 2000*                     0
Mortality Rate, 2005*                     0
Mortality Rate, 2010*                     0
Mortality Rate, 2014*                     0
% Change in Mortality Rate, 1980-2014     0
dtype: int64
Location                                  0
FIPS                                     51
Mortality Rate, 1980*                     0
Mortality Rate, 1985*                     0
Mortality Rate, 1990*                     0
Mortality Rate, 1995*                     0
Mortality Rate, 2000*                     0
Mortality Rate, 2005*                     0
Mortality Rate, 2010*                     0
Mortality Rate, 2014*                     0
% Change in Mortality Rate, 1980-2014     0
dtype: int64
Location                                  0
FIPS                                     51
Mortality Rate, 1980*                     0
Mortality Rate, 1985*                     0
Mortality Rate, 1990*                     0
Mortality Rate, 1995*                     0
Mortality Rate, 2000*                     0
Mortality Rate, 2005*                     0
Mortality Rate, 2010*                     0
Mortality Rate, 2014*                     0
% Change in Mortality Rate, 1980-2014     0
dtype: int64
Location                                  0
FIPS                                     51
Mortality Rate, 1980*                     0
Mortality Rate, 1985*                     0
Mortality Rate, 1990*                     0
Mortality Rate, 1995*                     0
Mortality Rate, 2000*                     0
Mortality Rate, 2005*                     0
Mortality Rate, 2010*                     0
Mortality Rate, 2014*                     0
% Change in Mortality Rate, 1980-2014     0
dtype: int64
Location                                  0
FIPS                                     51
Mortality Rate, 1980*                     0
Mortality Rate, 1985*                     0
Mortality Rate, 1990*                     0
Mortality Rate, 1995*                     0
Mortality Rate, 2000*                     0
Mortality Rate, 2005*                     0
Mortality Rate, 2010*                     0
Mortality Rate, 2014*                     0
% Change in Mortality Rate, 1980-2014     0
dtype: int64
Location                                  0
FIPS                                     51
Mortality Rate, 1980*                     0
Mortality Rate, 1985*                     0
Mortality Rate, 1990*                     0
Mortality Rate, 1995*                     0
Mortality Rate, 2000*                     0
Mortality Rate, 2005*                     0
Mortality Rate, 2010*                     0
Mortality Rate, 2014*                     0
% Change in Mortality Rate, 1980-2014     0
dtype: int64
Location                                  0
FIPS                                     51
Mortality Rate, 1980*                     0
Mortality Rate, 1985*                     0
Mortality Rate, 1990*                     0
Mortality Rate, 1995*                     0
Mortality Rate, 2000*                     0
Mortality Rate, 2005*                     0
Mortality Rate, 2010*                     0
Mortality Rate, 2014*                     0
% Change in Mortality Rate, 1980-2014     0
dtype: int64
Location                                  0
FIPS                                     51
Mortality Rate, 1980*                     0
Mortality Rate, 1985*                     0
Mortality Rate, 1990*                     0
Mortality Rate, 1995*                     0
Mortality Rate, 2000*                     0
Mortality Rate, 2005*                     0
Mortality Rate, 2010*                     0
Mortality Rate, 2014*                     0
% Change in Mortality Rate, 1980-2014     0
dtype: int64
Location                                  0
FIPS                                     51
Mortality Rate, 1980*                     0
Mortality Rate, 1985*                     0
Mortality Rate, 1990*                     0
Mortality Rate, 1995*                     0
Mortality Rate, 2000*                     0
Mortality Rate, 2005*                     0
Mortality Rate, 2010*                     0
Mortality Rate, 2014*                     0
% Change in Mortality Rate, 1980-2014     0
dtype: int64
Location                                  0
FIPS                                     51
Mortality Rate, 1980*                     0
Mortality Rate, 1985*                     0
Mortality Rate, 1990*                     0
Mortality Rate, 1995*                     0
Mortality Rate, 2000*                     0
Mortality Rate, 2005*                     0
Mortality Rate, 2010*                     0
Mortality Rate, 2014*                     0
% Change in Mortality Rate, 1980-2014     0
dtype: int64

### top_and_bottom

This contains two spreadsheets, one for top 10, and another for bottom 10.

In [131]:
top_ten_dfs = pd.read_excel('../data/capstone_project/top_and_bottom/IHME_USA_COUNTY_CANCER_MORTALITY_RATES_1980_2014_TOP_10_CAUSES_BY_COUNTY_Y2017M01D24.XLSX', skiprows=1, sheet_name=None)

In [125]:
top_ten_dfs['Age-standardized'].head()

,FIPS,County Name,Rank,Cause,"Mortality Rate (deaths per 100,000)"
0,1001,"Autauga County, Alabama",1,"Tracheal, bronchus, and lung cancer",78.623
1,1001,"Autauga County, Alabama",2,Colon and rectum cancer,28.757
2,1001,"Autauga County, Alabama",3,Breast cancer,16.242
3,1001,"Autauga County, Alabama",4,Pancreatic cancer,13.769
4,1001,"Autauga County, Alabama",5,Prostate cancer,13.639

In [126]:
top_ten_dfs['Age-standardized'].isna().sum()

FIPS                                   0
County Name                            0
Rank                                   0
Cause                                  0
Mortality Rate (deaths per 100,000)    0
dtype: int64

In [127]:
top_ten_dfs['Crude'].head()

,FIPS,County Name,Rank,Cause,"Mortality Rate (deaths per 100,000)"
0,1001,"Autauga County, Alabama",1,"Tracheal, bronchus, and lung cancer",78.329
1,1001,"Autauga County, Alabama",2,Colon and rectum cancer,27.971
2,1001,"Autauga County, Alabama",3,Breast cancer,16.142
3,1001,"Autauga County, Alabama",4,Pancreatic cancer,13.510
4,1001,"Autauga County, Alabama",5,Prostate cancer,12.637

In [128]:
top_ten_dfs['Crude'].isna().sum()

FIPS                                   0
County Name                            0
Rank                                   0
Cause                                  0
Mortality Rate (deaths per 100,000)    0
dtype: int64

Thus, no cleaning is necessary.

For bottom 10:

This needs to be broken up into bottom 10s, as it consists of several sections which are all separate sets.

In [199]:
bottom_ten_dfs = pd.read_excel('../data/capstone_project/top_and_bottom/IHME_USA_COUNTY_CANCER_MORTALITY_RATES_1980_2014_TOP_BOTTOM_10_COUNTIES_BY_CAUSE_Y2017M01D24.XLSX', skiprows=2, sheet_name='Top and Bottom 10')

In [200]:
bottom_ten_dfs.head()

,Rank,County,"Mortality Rate, 2014",Unnamed: 3,Rank.1,County.1,"Mortality Rate, 2014.1",Unnamed: 7,Rank.2,County.2,"% Change, 1980-2014",Unnamed: 11,Rank.3,County.3,"% Change, 1980-2014.1"
0,1,"Union County, Florida","503.05 (464.94, 545.37)",NaN,1,"Summit County, Colorado","70.71 (63.20, 78.96)",NaN,1,"Owsley County, Kentucky","45.6 (28.8, 64.1)",NaN,1,"Aleutians East Borough, Aleutians West Census ...","-57.5 (-66.9, -46.4)"
1,2,"Madison County, Mississippi","363.03 (345.18, 382.50)",NaN,2,"Pitkin County, Colorado","81.86 (72.98, 90.99)",NaN,2,"Lee County, Kentucky","39.8 (24.0, 57.2)",NaN,2,"Alexandria City, Virginia","-46.2 (-50.3, -42.0)"
2,3,"Powell County, Kentucky","337.43 (309.73, 367.37)",NaN,3,"Eagle County, Colorado","94.29 (86.03, 103.94)",NaN,3,"Estill County, Kentucky","38.1 (24.2, 53.7)",NaN,3,"Loudoun County, Virginia","-46.0 (-50.1, -41.8)"
3,4,"Breathitt County, Kentucky","329.07 (305.96, 355.77)",NaN,4,"Presidio County, Texas","103.51 (93.01, 114.73)",NaN,4,"Breathitt County, Kentucky","38.1 (24.6, 52.6)",NaN,4,"Summit County, Colorado","-45.9 (-53.4, -36.9)"
4,5,"Marlboro County, South Carolina","324.02 (304.15, 345.11)",NaN,5,"Hinsdale County, Colorado","110.26 (90.66, 133.35)",NaN,5,"Madison County, Mississippi","36.2 (25.7, 48.3)",NaN,5,"Howard County, Maryland","-45.7 (-49.6, -41.7)"

Now I'll remove the unnecessary empty columns

In [201]:
bottom_ten_dfs = bottom_ten_dfs.drop(['Unnamed: 3', 'Unnamed: 7', 'Unnamed: 11'], axis=1)

In [202]:
bottom_ten_dfs.head()

,Rank,County,"Mortality Rate, 2014",Rank.1,County.1,"Mortality Rate, 2014.1",Rank.2,County.2,"% Change, 1980-2014",Rank.3,County.3,"% Change, 1980-2014.1"
0,1,"Union County, Florida","503.05 (464.94, 545.37)",1,"Summit County, Colorado","70.71 (63.20, 78.96)",1,"Owsley County, Kentucky","45.6 (28.8, 64.1)",1,"Aleutians East Borough, Aleutians West Census ...","-57.5 (-66.9, -46.4)"
1,2,"Madison County, Mississippi","363.03 (345.18, 382.50)",2,"Pitkin County, Colorado","81.86 (72.98, 90.99)",2,"Lee County, Kentucky","39.8 (24.0, 57.2)",2,"Alexandria City, Virginia","-46.2 (-50.3, -42.0)"
2,3,"Powell County, Kentucky","337.43 (309.73, 367.37)",3,"Eagle County, Colorado","94.29 (86.03, 103.94)",3,"Estill County, Kentucky","38.1 (24.2, 53.7)",3,"Loudoun County, Virginia","-46.0 (-50.1, -41.8)"
3,4,"Breathitt County, Kentucky","329.07 (305.96, 355.77)",4,"Presidio County, Texas","103.51 (93.01, 114.73)",4,"Breathitt County, Kentucky","38.1 (24.6, 52.6)",4,"Summit County, Colorado","-45.9 (-53.4, -36.9)"
4,5,"Marlboro County, South Carolina","324.02 (304.15, 345.11)",5,"Hinsdale County, Colorado","110.26 (90.66, 133.35)",5,"Madison County, Mississippi","36.2 (25.7, 48.3)",5,"Howard County, Maryland","-45.7 (-49.6, -41.7)"

First, I'll split the neoplams section off.

In [203]:
bottom_neoplasms_df = bottom_ten_dfs[:11]

In [204]:
bottom_ten_dfs = bottom_ten_dfs[15:]

Next, I'll split the lips and oral cavity cancer.

In [205]:
bottom_lip_oral_df = bottom_ten_dfs[:11]

In [206]:
bottom_ten_dfs = bottom_ten_dfs[15:]

Next, I'll split the nesopharynx section

In [207]:
bottom_nesopharynx_df = bottom_ten_dfs[:11]
bottom_ten_dfs = bottom_ten_dfs[15:]

Next, I'll split the other pharynx.

In [208]:
bottom_other_pharynx_df = bottom_ten_dfs[:11]
bottom_ten_dfs = bottom_ten_dfs[15:]

Next, I'll split the esophageal section.

In [209]:
bottom_esophageal_df = bottom_ten_dfs[:11]
bottom_ten_dfs = bottom_ten_dfs[15:]

Next, I'll split the stomach cancer section.

In [210]:
bottom_stomcanc_df = bottom_ten_dfs[:11]
bottom_ten_dfs = bottom_ten_dfs[15:]

Next, I'll split the colon and rectum cancer section.

In [211]:
bottom_colrect_df = bottom_ten_dfs[:11]
bottom_ten_dfs = bottom_ten_dfs[15:]

Next, I'll split the liver cancer section.

In [212]:
bottom_liver_df = bottom_ten_dfs[:11]
bottom_ten_dfs = bottom_ten_dfs[15:]

Next, I'll split the gallbladder section

In [213]:
bottom_gallbladder_df = bottom_ten_dfs[:11]
bottom_ten_dfs = bottom_ten_dfs[15:]

Next, I'll split the pancreatic section

In [214]:
bottom_pancreatic_df = bottom_ten_dfs[:11]
bottom_ten_dfs = bottom_ten_dfs[15:]

Next, I'll split the larynx section

In [215]:
bottom_larynx_df = bottom_ten_dfs[:11]
bottom_ten_dfs = bottom_ten_dfs[15:]

Next, I'll split the tracheal section

In [216]:
bottom_tracheal_df = bottom_ten_dfs[:11]
bottom_ten_dfs = bottom_ten_dfs[15:]

Next, I'll split the malignant skin melanoma section

In [217]:
bottom_melanoma_df = bottom_ten_dfs[:11]
bottom_ten_dfs = bottom_ten_dfs[15:]

Next, I'll split the non-melanoma skin cancer part.

In [218]:
bottom_nonmel_df = bottom_ten_dfs[:11]
bottom_ten_dfs = bottom_ten_dfs[15:]

Next, I'll split the breast cancer section.

In [219]:
bottom_breast_df = bottom_ten_dfs[:11]
bottom_ten_dfs = bottom_ten_dfs[15:]

Next, I'll split the cervical cancer section

In [220]:
bottom_cerv_df = bottom_ten_dfs[:11]
bottom_ten_dfs = bottom_ten_dfs[15:]

Next, I'll split the uterine cancer section

In [221]:
bottom_uterine_df = bottom_ten_dfs[:11]
bottom_ten_dfs = bottom_ten_dfs[15:]

Next, I'll split the ovarian cancer section.

In [222]:
bottom_ovarian_df = bottom_ten_dfs[:11]
bottom_ten_dfs = bottom_ten_dfs[15:]

Next, I'll split the prostate cancer section.

In [223]:
bottom_prostate_df = bottom_ten_dfs[:11]
bottom_ten_dfs = bottom_ten_dfs[15:]

Next, I'll split the testicular cancer section.

In [224]:
bottom_testic_df = bottom_ten_dfs[:11]
bottom_ten_dfs = bottom_ten_dfs[15:]

Next, I'll split the kidney cancer section

In [225]:
bottom_kidney_df = bottom_ten_dfs[:11]
bottom_ten_dfs = bottom_ten_dfs[15:]

Next, I'll split the bladder cancer section

In [226]:
bottom_bladder_df = bottom_ten_dfs[:11]
bottom_ten_dfs = bottom_ten_dfs[15:]

Next, I'll split the brain and nervous cancer section

In [227]:
bottom_brain_df = bottom_ten_dfs[:11]
bottom_ten_dfs = bottom_ten_dfs[15:]

Next, I'll split the thyroid cancer section

In [228]:
bottom_thyroid_df = bottom_ten_dfs[:11]
bottom_ten_dfs = bottom_ten_dfs[15:]

Next, I'll split the mesothelemia section

In [229]:
bottom_meso_df = bottom_ten_dfs[:11]
bottom_ten_dfs = bottom_ten_dfs[15:]

Next, I'll split the hodgkin lymphoma section

In [230]:
bottom_hodgkin_df = bottom_ten_dfs[:11]
bottom_ten_dfs = bottom_ten_dfs[15:]

Next, I'll split the non-hodgkin lymphoma section

In [231]:
bottom_nonhodgkin_df = bottom_ten_dfs[:11]
bottom_ten_dfs = bottom_ten_dfs[15:]

Next, I'll split the multiple mylenoma section

In [232]:
bottom_mylen_df = bottom_ten_dfs[:11]
bottom_ten_dfs = bottom_ten_dfs[15:]

Next, I'll split the leukemia section

In [233]:
bottom_leukem_df = bottom_ten_dfs[:11]
bottom_ten_dfs = bottom_ten_dfs[15:]

Next, I'll split the acute lymphoid leukemia section

In [234]:
bottom_lymphoid_df = bottom_ten_dfs[:11]
bottom_ten_dfs = bottom_ten_dfs[15:]

Next, I'll split the chronic lymphoic leukemia section

In [235]:
bottom_chromic_df = bottom_ten_dfs[:11]
bottom_ten_dfs = bottom_ten_dfs[15:]

Next, I'll split the acute myeloid leukemia section

In [236]:
bottom_acmyel_df = bottom_ten_dfs[:11]
bottom_ten_dfs = bottom_ten_dfs[15:]

Next, I'll split the chronic myeloid leukemia section

In [237]:
bottom_chmyel_df = bottom_ten_dfs[:11]
bottom_ten_dfs = bottom_ten_dfs[15:]

Last, I'll split the other neoplasms section

In [238]:
bottom_othneo_df = bottom_ten_dfs[:11]
bottom_ten_dfs = bottom_ten_dfs[15:]

These now 34 datasets are all the tens of the several types of cancer.

### Conclusion

This processing leaves my data in a ready state for analysis.